/*google font cdn*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('reset.css');
@import url('bootstrap-grid.min.css');
*{box-sizing: border-box;}
body{
    width: 1100px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    font-size: 16px;
}
/*common using classes*/
.text-center{
    text-align: center;
}
/*flex*/
.d-flex{ /*display flex*/
    display: flex;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-row{
    flex-direction: row;
}
.justify-content-between{
    justify-content: space-between;
}
.align-item-center{
    align-items: center;
}
/*block / inline-block*/
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.cursor-pointer{
    cursor: pointer;
}
/*responsive web*/
@media (max-width: 768px){
    .text-sm-center{
        text-align: center;
    }
    /*flex*/
    .d-sm-flex{ /*display flex*/
        display: flex;
    }
    .flex-sm-wrap-wrap{
        flex-wrap: wrap;
    }
    .flex-sm-direction-column{
        flex-direction: column;
    }
    .flex-sm-direction-row{
        flex-direction: row;
    }
    .justify-sm-content-between{
        justify-content: space-between;
    }
    .align-sm-item-center{
        align-items: center;
    }
    /*block / inline-block*/
    .d-sm-block{
        display: block;
    }
    .d-sm-inline-block{
        display: inline-block;
    }
}
/*initialize end*/
header{
    width: inherit;
}
.daum-header{ /*display: flex*/
    width: 1100px; 
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

/* top logo*/
.daum-logo{
    width: 54px;
    height: 29px;
}
.daum-logo>.logobox{
    width: 70px;
    height: 27px;
    margin-top: 2px;
    
    background-image: url('../design/minidaum_v5.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 180px;
}
/*mini-daum inner part*/
.login{
    width: 50px;
    height: 27px;
    font-size: 12px;
    font-weight: light;
    line-height: 26px;
    text-align: center;
    /* margin-right: 30px; */
    
    border: 0.3px solid #ddd; 
}
.mini-daum-service{
    margin-right: 3px;
}

/*mini-daum-service inner part*/
.mail, .site-map{
    margin-left: 30px;
    font-size: 20px;
}

/*****************inner header******************/
.inner-header{/* display: flex*/
    width: inherit;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.daum-cafe-logo{
    margin-right: 30px;
}
.daum-cafe-logo>h1 {
    font-size: 35px;
    color: pink;
}
/******************/
.daum-navi{
    margin-left: 0px;
}
#gnbcafe{
    float: left;
}
#gnbcafe li{
    float: left;
    margin: 0 10px;
    font-size: 17px;
    padding: 3px;
}
#gnbcafe li:first-child{
    color: pink;
    font-weight: bold;
}
.daum-navi li:hover{
    color: pink;
    font-weight: bold;
}
/******************/
.search{
    margin-right: 0px;
}
.option{
    margin-right: 15px;
}
.option>a{
    font-size: 13px;
    text-decoration: none;
    color: #333;
}
.up-icon{
    display: none;
}

#search-input{
    padding: 5px;
    font-size: 13px;
    border: none;
}
.input-clicked{
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
#search-input::placeholder{
    color:#c0bebe;
    letter-spacing: -1px;
}
